* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fl {
    float: left;
}

/* COMMON RULES*/
h2 {
    color: white;
    margin-top: 25px
}

h6 {
    color: white;
    letter-spacing: 0.1em;
}

.playlist h6 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}

.sidebar li, .playlist span {
    font-size: 12px;
}

/* END COMMON RULES*/

.container-fluid {
    width: 100%;
    height: 100vh;
}

main {
    height: calc(100vh - 90px);
    display: flex;
}

aside {
    background-color: black;
    color: grey;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 18px 6px;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 40px;
}

.sidebar, .playlist {
    margin-top: 20px;
}

.sidebar {
    flex: 0 0 auto;
}

.logo-small {
    display: none;
    height: 35px;
    margin-left: -5px;
    margin-bottom: 10px;
}

#logo-small {
    height: 30px;
}

.sidebar img {
    height: 20px;
    vertical-align: middle;
    filter: invert(0.2);
}

.sidebar a, .playlist span {
    margin-left: 5px;
}

.sidebar li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.playlist {
    flex: 1 1 auto;
    overflow-y: auto;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.playlist li {
    margin-top: 15px;
    font-size: 10px;
}

.profile {
    flex: 0 0 auto;
    margin-top: 20px;
}

.profile > .top {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
} 

.profile > .bottom {
    font-size: 14px;
    margin-top: 13px;
}

.bottom a {
    color: white;
}

.profile img {
    margin-right: 5px;
    vertical-align: middle;
}

.profile > .top > img {
    width: 20px;
    filter: invert(0.2);
}

.profile > .bottom > img {
    background-color: grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.profile span {
    padding-left: 4px;
}

/* ---- PARTE CENTRALE---- */

.main {
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    width: calc(100% - 200px);
    flex-grow: 1;
    position: relative;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.fixed button {
    background-color: rgba(0, 0, 0, .2);
    font-size: 15px;
    padding: 10px;
    margin-right: 25px;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    width: 230px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;         
}

.topbar {
    margin-top: 80px;
    height: 50px;
    color: gray;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.topbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topbar li {
    margin-right: 25px;
    margin-bottom: 10px;
}

.green-row {
    height: 2px;
    width: 30%;
    margin: 0 auto;
    background-color: greenyellow;
}


/*   -------TRACK--------   */

.container-playlist {
    padding: 5px 5px 20px 20px;
}

.track {
    margin-top: 20px;
    text-align: center;
}

.recently .track, .fyou .track {
    width: calc(100% / 6);
    padding-right: 15px;
}

.track img {
    width: 100%;
}

.container-playlist span {
    color: grey;
    font-size: 13px;
}

.img-container {
    width: 210px;
    margin-right: 15px;
}

.img-container {
    border-radius: 50%;
}

/*HOVER*/
.cover {
    position: relative;
}

.cover i.fa-play-circle {
    color: white;
    display: none;
}

.cover:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.cover:hover i.fa-play-circle {
    display: block;
    font-size: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

li:hover img {
    filter: invert(0);
    cursor: pointer;
}

li:hover a, h2:hover, h6:hover, .time:hover, img:hover, span:hover, i.fas:hover, i.far:hover, span:hover a {
    color: white;
    cursor: pointer;
}

.barra:hover .barra2 {
    background-color: greenyellow;
}

.center i.fa-play-circle:hover {
    transform: scale(1.2);
    overflow: visible;
}

/*  -----FOOTER-----  */

footer {
    height: 90px;
    background-color:#282828;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > section {
    flex: 0 0 auto;
}

footer ul {
    display: flex;
    align-items: center;
    padding: 5px;
}

footer img, footer i {
    margin-right: 10px;
}

footer img {
    width: 50px;
}

/*Section Left*/

.left .info {
    margin-right: 30px;
    font-size: 15px;
}

.left li:last-child {
    display: flex;
}

.info div {
    font-size: 10px;
}

/*Section Center*/

.center {
    flex-basis: 40%; 
    margin-top: -20px; 
}

.center ul:first-child {
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.time-bar {
    flex-grow: 1;
}

.center li {
    margin-right: 20px;
}

.center li:last-child {
    margin-right: 0;
}

.center i {
    font-size: 13px;
    color:white;
}

.center .time {
    font-size: 10px;
    color: lightgray;
}

.center i.fa-play-circle {
    font-size: 25px;
    vertical-align: middle;
    width: 30px;
}

/*Barra*/

.barra {
    height: 4px;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.barra2 {
    height: 100%;
    width: 30%;
    background-color: lightgray;
}

.time-bar, .barra, footer li {
    overflow: visible;
}

i.fas.fa-circle {
    display: none;
}

.barra:hover i.fas.fa-circle {
    display: block;
}

/*Section Right*/

.right i {
    color: lightgray;
    font-size: 13px;
}

.right ul {
    justify-content: flex-end;
}

.right li {
    margin-right: 5px;
}

.right {
    flex-basis: 200px;
}

.right li:last-child {
    flex-basis: 100px;
}

/* ------ MEDIA QUERY ----- */

/*Medium*/
@media all and (max-width: 991px) {
    .recently .track, .fyou .track {
        width: calc(100% / 4);
        height: 230px;
    }
    .img-container {
        width: 160px;
        height: 160px;
    }
    .track span {
        font-size: 10px;
    }
    .track h6 {
        font-size: 10px;
    }
}

/*Small*/
@media all and (max-width: 767px) {
    .recently .track, .fyou .track {
        width: calc(100% / 2);
        height: 320px;
    }
    .img-container, .recently .track, .fyou .track {
        margin-bottom: 10px;
    }
    .track h6, .left i {
        font-size: 15px;
    } 
    .left li:last-child {
        flex-direction: column;
    }
    .left .info {
        margin-right: 8px;
    }
    .info div {
        font-size: 10px;
    }
    footer img {
        width: 30px;
    }
    footer img, footer i {
        margin-right: 5px;
    }
}

/*Extra-Small*/
@media all and (max-width: 575px) {
    aside {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    }
    .playlist {
        display: none;
    }
    .profile span {
        display: none;
    }
    .profile, .sidebar {
        padding-left: 8px;
    }
    .fixed {
        width: calc(100% - 50px);
    }
    .logo {
        display: none;
    }
    .logo-small {
        display: block;
    }  
    .right i {
        font-size: 12px;
    }
    .right li {
        margin-right: 3px;
    }
    .right li:last-child {
        flex-basis: 65px;
    }
    .right {
        flex-basis: 150px;
    }
    .recently .track, .fyou .track {
        height: 300px;
    }
}
    

    



    




/* @media screen and (min-widht: 768px) {
    .recently .track {
        width: calc(100% / 6);
    }
    
} */





