* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* COMMON RULES*/

h6 {
    color: white;
    letter-spacing: 0.1em;
}

.playlist h6 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: grey;
}

.sidebar li, .playlist span {
    font-size: 12px;
}

/* END COMMON RULES*/

.container-fluid {
    width: 100%;
    height: 100vh;
}

main {
    height: calc(100vh - 90px);
    display: flex;
}

aside {
    background-color: black;
    color: grey;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 18px 6px;
}

.logo {
    flex-basis: auto;
    flex-shrink: 0;
}

.logo img {
    height: 40px;
}

.sidebar, .playlist {
    margin-top: 20px;
}

.sidebar {
    flex-basis: auto;
    flex-shrink: 0;
}

.sidebar img {
    height: 20px;
    vertical-align: middle;
    filter: invert(0.2);
}

.sidebar a, .playlist span {
    margin-left: 5px;
}

.sidebar li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.playlist {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto;
}

.playlist li {
    margin-top: 15px;
    font-size: 10px;
}

aside > .bottom {
    flex-basis: auto;
    flex-shrink: 0;
    margin-top: 20px;
}

.bottom > .top {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
} 

.bottom > .bottom {
    font-size: 14px;
    margin-top: 13px;
    color: white;
}

.bottom img {
    margin-right: 5px;
    vertical-align: middle;
}

.bottom > .top > img {
    width: 20px;
    filter: invert(0.2);
}

.bottom > .bottom > img {
    background-color: grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.bottom span {
    padding-left: 4px;
}

main > section {
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.fixed button {
    background-color: rgba(0, 0, 0, .2);
    font-size: 15px;
    padding: 10px;
    margin-right: 25px;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    width: 230px;
    cursor: pointer;         
}

.topbar {
    margin-top: 70px;
    height: 50px;
    background-color: lightpink;
    color: gray;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topbar li {
    margin-right: 25px;
}

.content {
    height: 200vh;
}

footer {
    height: 90px;
    background-color:#282828;
    color: grey;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > section {
    border: 1px solid white;
    flex: 0 0 auto;
}

footer ul {
    display: flex;
    align-items: center;
    padding: 5px;
}

footer img, footer i {
    margin-right: 10px;
}

footer img {
    width: 50px;
}

/*Section Left*/

.left .info {
    margin-right: 30px;
    font-size: 15px;
}

.left li:last-child {
    display: flex;
}

/*Section Center*/

.center {
    flex-basis: 40%;  
}

.center ul:first-child {
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.time-bar {
    flex-grow: 1;
}

.center li {
    margin-right: 20px;
}

.center li:last-child {
    margin-right: 0;
}

.center i {
    font-size: 13px;
    color:white;
}

.center .time {
    font-size: 10px;
    color: lightgray;
}

i.fa-play-circle {
    font-size: 25px;
    vertical-align: middle;
    width: 30px;
}

/*Barra*/

.barra {
    height: 3px;
    width: 100%;
    background-color: gray;
}

.barra2 {
    height: 100%;
    width: 30%;
    background-color: lightgray;
}

/*Section Right*/

.right i {
    color: lightgray;
    font-size: 13px;
    padding-right: 10px;
}

.right {
    flex-basis: 13%;
    flex-shrink: 0;
    justify-content: space-between;
}

.right ul {
    flex: 0 0 auto;
}

.right li:last-child {
    flex-basis: 100px;
}



