* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* COMMON RULES*/

h6 {
    color: white;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: grey;
}

.sidebar li, .playlist span {
    font-size: 12px;
}

/* END COMMON RULES*/

.container-fluid {
    width: 100%;
    height: 100vh;
}

main {
    height: calc(100vh - 90px);
    display: flex;
}

aside {
    background-color: black;
    color: grey;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 18px 6px;
    overflow-y: hidden;
}

.logo img {
    height: 40px;
}

.sidebar, .playlist {
    margin-top: 20px;
}

.sidebar img {
    height: 20px;
    vertical-align: middle;
    filter: invert(0.2);
}

.sidebar a, .playlist span {
    margin-left: 5px;
}

.sidebar li {
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.playlist li {
    margin-top: 15px;
    font-size: 10px;
}

.bottom > .top {
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
} 

.bottom > .bottom {
    font-size: 15px;
    margin-top: 15px;
    color: white;
}

.bottom span {
    padding-left: 5px;
}

main > section {
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.fixed button {
    background-color: rgba(0, 0, 0, .2);
    font-size: 15px;
    padding: 10px;
    margin-right: 25px;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    width: 230px;
    cursor: pointer;         
}

.main > nav {
    margin-top: 70px;
    background-color: rosybrown;
    height: 100px;
}

.content {
    height: 200vh;
}

footer {
    height: 90px;
    background-color:#282828;
    z-index: 1000;
}

